<p id="notice"><%= notice %></p>

<h2><%= @cocktail.name %></h2>

<h3>Ingredients <%= fa_icon 'plus', id: 'add-dose' %></h3>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.input :ingredient_id, collection: @ingredients %>
  <%= f.submit %>
<% end %>

<ul>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <%= link_to fa_icon('trash-o'), cocktail_dose_path(@cocktail, dose), method: :delete %> <%= dose.ingredient.name %> (<%= dose.description %>)
    </li>
  <% end %>
</ul>

<%= link_to 'back to cocktails', cocktails_path %>
